/ {
	leds {
		led4: led_4 {
			gpios = <&gpio1 5 GPIO_ACTIVE_LOW>; /* LED3 was using gpio0 31, change to 26 so it can be used by led4 */
			label = "Green LED 4";
		};
		led5: led_5 {
			gpios = <&gpio1 6 GPIO_ACTIVE_LOW>; /* LED3 was using gpio0 31, change to 26 so it can be used by led4 */
			label = "Green LED 5";
		};
	};
	pwmleds {
		compatible = "pwm-leds";
		pwm_led0_green: pwm_led_0 {
			pwms = <&pwm0 4>;
			label = "Green PWM LED 0";
		};
		pwm_led1_blue: pwm_led_1 {
			pwms = <&pwm0 5>;
			label = "Blue PWM LED 1";
		};
		pwm_led2_red: pwm_led_2 {
			pwms = <&pwm0 6>;
			label = "Red PWM LED 2";
		};
	};
	aliases {
		led4 = &led4;
		led5 = &led5;
		green-pwm-led-custom = &pwm_led0_green;
		blue-pwm-led-custom  = &pwm_led1_blue;
		red-pwm-led-custom  = &pwm_led2_red;
	};
};

&pwm0 {
	status = "okay";
	ch0-pin = <4>;
	ch0-inverted;
	ch1-pin = <5>;
	ch1-inverted;
	ch2-pin = <6>;
	ch2-inverted;
};
