PM_802154_RPMSG_OFFSET=0x0
PM_802154_RPMSG_ADDRESS=0x1000000
PM_802154_RPMSG_END_ADDRESS=0x1040000
PM_802154_RPMSG_SIZE=0x40000
PM_802154_RPMSG_NAME=802154_rpmsg
PM_802154_RPMSG_ID=0
PM_802154_rpmsg_ID=PM_802154_RPMSG_ID
PM_802154_rpmsg_IS_ENABLED=1
PM_0_LABEL=802154_RPMSG
PM_APP_OFFSET=0x0
PM_APP_ADDRESS=0x1000000
PM_APP_END_ADDRESS=0x1040000
PM_APP_SIZE=0x40000
PM_APP_NAME=app
PM_APP_ID=1
PM_app_ID=PM_APP_ID
PM_app_IS_ENABLED=1
PM_1_LABEL=APP
PM_APP_SPAN="802154_rpmsg"
PM_SRAM_PRIMARY_OFFSET=0x0
PM_SRAM_PRIMARY_ADDRESS=0x21000000
PM_SRAM_PRIMARY_END_ADDRESS=0x21010000
PM_SRAM_PRIMARY_SIZE=0x10000
PM_SRAM_PRIMARY_NAME=sram_primary
PM_NUM=2
PM_ALL_BY_SIZE="sram_primary 802154_rpmsg app"